$black: black;
$dark-grey: #404040;
$neutral-grey: #6d6d6d;
$light-grey: #f4f4f4;

$dark-platinum: #A3B1C6;
$platinum: #C2CBD9;
$light-platinum: #E0E5EC;

$green: #57A773;
$red: #FE2222;
$brand-blue: #3E7CB1;

.lightText {
    color: $light-grey;
}
.darkText {
    color: $dark-grey;
}