@import "./colours.scss";
@import "./typography.scss";
@import "./animations.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  overflow-y: scroll;
  background-color: $light-platinum;
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

body::-webkit-scrollbar {
  margin-top: 12em;
  width: 0.75em;
}

body::-webkit-scrollbar-track {
  background-color: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $neutral-grey;
}

.card {
  width:auto;
  height: auto;
  margin: 15px;
  background: linear-gradient(90deg, $light-platinum 0%, $light-grey 100%);
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.5),
    -9px -9px 16px rgba(255, 255, 255, 0.9);
  border-radius: 18px;
  // padding: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-right: 10px;
  h1, h2, h3, p, input {
    transform: translateX(35px);
  }
  .card-title {
    padding-bottom: 10px;
  }
}

.card-sm {
  width: 350px
}
.card-md {
  max-width: 540px;
}
.card-lg {
  max-width: 720px;
}