$basicLinePadding: 8px;

body {
  margin: 0;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// default
h1,
h2,
h1,
h2,
h3,
h4,
p {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
  transition: 0.1s ease-out;
}

h1 {
  $h1_size: 60px;
  font-size: $h1_size;
  line-height: $h1_size + $basicLinePadding;
}
h2 {
  $h2_size: 30px;
  font-size: $h2_size;
  line-height: $h2_size + $basicLinePadding;
}

h3 {
  $h3_size: 20px;
  font-size: $h3_size;
  line-height: $h3_size + $basicLinePadding;
}
p {
  $p_size: 20px;
  font-size: $p_size;
  line-height: $p_size + $basicLinePadding;
}

a {
  color: inherit;
  transition: 0.1s ease-out !important;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
